<p-sidebar
  [(visible)]="sidebarVisible"
  position="top"
  [baseZIndex]="10000"
  showCloseIcon="false"
>
  <ng-template pTemplate="headless">
    <ul class="mt-8 flex justify-evenly text-neutral-50">
      <li
        @fadeInAndOut
        class="decoration-wavy decoration-from-font hover:underline hover:decoration-red-500"
        routerLink="/"
        routerLinkActive="text-red-500"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </li>
      <!-- <li
        @fadeInAndOut
        class="decoration-wavy decoration-from-font hover:underline hover:decoration-red-500"
        routerLink="/about"
        routerLinkActive="text-red-500"
      >
        About
      </li> -->
      <li
        @fadeInAndOut
        class="decoration-wavy decoration-from-font hover:underline hover:decoration-red-500"
        routerLink="/projects"
        routerLinkActive="text-red-500"
      >
        Projects
      </li>
      <li
        @fadeInAndOut
        class="decoration-wavy decoration-from-font hover:underline hover:decoration-red-500"
        routerLink="/blog"
        routerLinkActive="text-red-500"
      >
        Blog
      </li>
    </ul>
  </ng-template>
</p-sidebar>

<div
  class="flex h-14 select-none items-center justify-between gap-2 bg-yellow-400 px-4 shadow-md"
>
  <div class="flex items-center">
    <span
      @fadeInAndOut
      class="ml-4 mt-1 text-lg font-bold hover:text-red-500"
      routerLink="/"
      >gcheang</span
    >
  </div>
  <div class="mt-1 flex grow justify-end">
    <p-button id="sidebarBtn" class="block md:hidden" (onClick)="showSidebar()">
      <i class="pi pi-bars text-2xl"></i>
    </p-button>
    <ul class="hidden max-w-md grow justify-evenly md:flex">
      <li
        @fadeInAndOut
        class="decoration-wavy decoration-from-font hover:underline hover:decoration-red-500"
        routerLink="/"
        routerLinkActive="text-red-500"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </li>
      <!-- <li
        @fadeInAndOut
        class="decoration-wavy decoration-from-font hover:underline hover:decoration-red-500"
        routerLink="/about"
        routerLinkActive="text-red-500"
      >
        About
      </li> -->
      <li
        @fadeInAndOut
        class="decoration-wavy decoration-from-font hover:underline hover:decoration-red-500"
        routerLink="/projects"
        routerLinkActive="text-red-500"
      >
        Projects
      </li>
      <li
        @fadeInAndOut
        class="decoration-wavy decoration-from-font hover:underline hover:decoration-red-500"
        routerLink="/blog"
        routerLinkActive="text-red-500"
      >
        Blog
      </li>
    </ul>
  </div>
</div>
