.decoration-red-500 {
  text-decoration-color: #ef4444;
}

:host ::ng-deep #sidebarBtn .p-button {
  color: black;
  background-color: transparent;
  border-color: transparent;
}

:host ::ng-deep #sidebarBtn .p-button:focus {
  color: #ef4444;
  box-shadow: none !important;
}

:host ::ng-deep .p-sidebar {
  background-color: #262626;
  height: 5rem;
}
