<div class="bg-text-900 dark:bg-text-100 hidden h-36 overflow-hidden sm:grid">
  <div
    class="text-text-100 dark:text-text-900 flex max-w-full flex-col place-items-center gap-2 place-self-center whitespace-nowrap text-center"
  >
    <p>
      Created By Gigi Cheang (<a
        class="italic underline"
        href="https://github.com/gcheang"
        target="_blank"
        >gcheang</a
      >)
    </p>
    <div class="bg-background-1000 h-0.5 w-16"></div>
    <p>Have a nice day 😊</p>
  </div>
</div>
