<div class="mx-6 my-2 grid place-items-center">
  <h1 @fadeInAndOut class="mb-12 text-3xl">
    <span class="text-red-500">Blog</span> 🐝
  </h1>

  <p
    [@fadeInAndOut]="{ value: true, params: { delay: '400ms' } }"
    class="mb-4 text-xl"
  >
    I wanted to start a blog to <span class="text-red-500">(1)</span> write
    about cool things I'm doing and <span class="text-red-500">(2)</span> do
    cool things to write about!
  </p>

  <app-blog-list
    [@fadeInAndOut]="{ value: true, params: { delay: '600ms' } }"
  ></app-blog-list>
</div>
