<div class="mx-6 my-2 grid place-items-center">
  <h1 @fadeInAndOut class="mb-12 text-3xl">
    Hi, I'm <span class="text-red-500">Gigi</span> and welcome to my website! 🐝
  </h1>

  <p
    [@fadeInAndOut]="{ value: true, params: { delay: '400ms' } }"
    class="mb-4 text-xl"
  >
    I am a fourth year computer science student at University of Toronto
    <br />who is all about <span class="text-red-500">full stack</span> and
    <span class="text-red-500">web development</span>!
  </p>

  <div class="mb-8 flex gap-2">
    <p-button
      [@fadeInAndOut]="{ value: true, params: { delay: '600ms' } }"
      [rounded]="true"
      severity="danger"
      label="My Resume"
      icon="pi pi-file"
      class="whitespace-nowrap"
      (click)="openLink('assets/gigi-cheang_resume_may-2024.pdf')"
    ></p-button>
    <p-button
      [@fadeInAndOut]="{ value: true, params: { delay: '700ms' } }"
      [rounded]="true"
      severity="danger"
      icon="pi pi-linkedin"
      (click)="openLink('https://www.linkedin.com/in/gigi-cheang/')"
    ></p-button>
    <p-button
      [@fadeInAndOut]="{ value: true, params: { delay: '800ms' } }"
      [rounded]="true"
      severity="danger"
      icon="pi pi-github"
      (click)="openLink('https://github.com/gcheang')"
    ></p-button>
  </div>

  <div
    [@fadeInAndOut]="{ value: true, params: { delay: '900ms' } }"
    class="rounded-xl border-0 border-l-8 border-red-500 bg-yellow-100 p-4 shadow-md"
  >
    <p>
      I'm a little busy right now, so my website is currently 🚧 under
      construction 🚧
    </p>
    <p>I hope you like what I have built in the mean time 😊</p>
    <br />

    <p class="text-red-500">
      Some things to look forward to... <b>my first blog post</b> 🥳 (I will be
      setting up a build + publish for my website and writing about process)
      <b><i>and more to come!</i></b>
    </p>
  </div>
</div>
